* {

    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Neuton', serif;


}

html {
    animation-name: animation2;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-direction: normal;

}

@keyframes animation2 {
    0% {
        background-color: black;
    }

    100% {
        background-color: rgb(151, 150, 150);
    }
}

.colors {
    animation-name: colors;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes colors {

    0% {
        color: rgb(170, 0, 0);
    }

    10% {
        color: rgb(0, 170, 0);
    }

    20% {
        color: rgb(3, 0, 170);
    }

    30% {
        color: rgb(136, 0, 170);
    }

    40% {
        color: rgb(167, 170, 0);
    }


}

.mybody {

    position: fixed;
    height: 100%;
    background-image: url("./bg11.jpg");



}

.mybody {
    /* Standard syntax */
    animation-name: animation1;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

/* Standard syntax */
@keyframes animation1 {

    /* 0%  {width:10px; left:50%; top:50%;}
    50% {width: 400px;left:50%; top:50%;}
    100% {width: 100%; left:0%; top:0;} */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.text-my {

    color: rgb(226, 226, 226);

}

.text-my2 {

    color: rgba(9, 9, 19, 0.74);

}

.text-span {

    color: rgba(207, 207, 207, 0.74);
}

.myNavStyle {

    background-color: rgba(21, 54, 65, 0.479);

}

.hr-wrap {

    border-top: 1px solid rgb(167, 167, 167);
    border-bottom: 1px solid rgb(167, 167, 167);
}

.tech {

    position: absolute;
    width: 96.7%;
    height: 100%;
    color: rgb(236, 236, 236);
    opacity: 0;
    transition: 0.5s;

}

.tech:hover {


    background: rgba(0, 0, 0, 0.726);
    opacity: 1;
    transition: 1s;

}

.profile {
    opacity: 0.1;
    position: absolute;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.459);
    filter: blur(10px);
    transition: 1s;



}

.firstBar .info {

    opacity: 0.03;
    transition: 1s;

}

.firstBar:hover .info {

    opacity: 1;
    transition: 1s;

}

.firstBar:hover .parofile {

    opacity: 1;
    filter: blur(0px);
    transition: 10s;


}

.secBar {


    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 90%;
    scroll-behavior: smooth;
    opacity: 0.03;
    transition: 1s;
}

.secBar:hover {

    opacity: 1;
    transition: 1s;
}

.showImg {

    color: #ffffff38;
    border-radius: 20px;


}

.showImg:hover~.profile {

    opacity: 1;
    filter: blur(0px);
    transition: 1s;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgb(0, 0, 0);
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(102, 75, 151);
    border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3b38e6;
}



.welcome {
    position: absolute;
    display: inline;
    z-index: -9;
    margin: 31% 4% 5% 5%;
    color: whitesmoke;
    font-family: Lobster;
    font-size: 100px;
}

.loading {

    position: absolute;
    display: inline;
    z-index: -9;
    margin: 40% 8% 15% 6%;
    color: whitesmoke;
    font-family: Lobster;
    font-size: 50px;
}



@media only screen and (max-width: 800px) {
    
    .profile{
        z-index: -1;
    }

    .showImg{

        max-width: 70px;
        z-index: 9999;
    }

    .showImg:hover~.profile {

        opacity: 1;
        filter: blur(0px);
        transition: 1s;
    }
    
    .mybody {
        position: absolute;
        background-image: url(bg11.jpg);
        z-index: -1;
        overflow-y: scroll;
    }

   
}