* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

@media only screen and (max-width: 1000px){
    
    .mybody{
        overflow-x: hidden;
    }
}
}


a {

    text-decoration: none;!important;
    color: black;
}

a:hover,a:visited,a:link,a:active {
    text-decoration: none!important;
    color: black;
}

/*.mybody{
    
    position: relative;
}*/

.mynav {

    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.99);
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;

    transition: 1s;

}


.mynav:hover {
    background-color: rgb(87, 87, 87);
    transition: 1s;

}

.mybtn {
    text-overflow: inherit;
    background-color: ghostwhite;
    width: 80px;
    margin-left: 1%;
    padding: 10px;
    border-radius: 10px;
    transition: .5s;
}

.mybtn:hover {

    color: rgb(161, 147, 201);
    background-color: #000000;
    transition: .5s;
}

.mybg-imgs {

    margin-top: 50px;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;


}


.imgs {

    /*background-color: rgba(0, 118, 255, 0.45);*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: ghostwhite;

}

@media only screen and (max-width: 1000px){
    
    .mybg-img {
    width: 1%;
    margin: 7% 25%;
    border-radius: 100%;
    border: 0px black solid;
    transition: 2s;
}
    
    
    .imgs {

    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: black;

}
}

.myprof-img {
    width:15%;
    margin: 2% 5%;
    border-radius: 100%;
    border: 10px black solid;
    transition: 2s;
}

@media only screen and (max-width: 1000px){
    
    .myprof-img {
    width:45%;
    margin: 7% 25%;
    border-radius: 100%;
    border: 10px black solid;
    transition: 2s;
}
}

.myprof-img:hover{
    
    border: 10px #ffffff solid;
    transition: 2s;    
}



.tiny-info {
     margin-left: 5%;
}

a.project-links {
    color: darkred;
    background-color:  #674a4a;
    transition: 1s;
}
a.project-links:hover {
    color: #4d1c1c;
    background-color:  #dda6a6;
    transition: 1s;
}


.per-info {
    background-color: rgba(0, 0, 0, 0.22);
    font-family: 'Indie Flower', sans-serif;;
}

.project-table {
    
    margin-top:-0.9%;
}

@media only screen and (max-width: 1000px){
    
    .project-table {
    
    margin-top:35%;
}
}
